body {
  background-color: #967bb8;
}

.container {
  text-align: center;
}

p {
  margin: 10px;
  padding: 10px;
  border: solid 5px black;
  border-style: double;
}

img  {
  border: dotted 5px purple;
  border-radius: 50%;
}

.imgToggle {
  color: blue;
}

.imgToggle:hover {
  text-decoration: underline;
  cursor: pointer;
}


.excitedFish {
  display: none;
}

.goldenrod-background {
  background-color: #F2B50D;
  }

.red-background {
  background-color: #F20D29;
}

.green-background {
  background-color: #4DEC8A;
}

.lavender-background {
  background-color: #967bb8;
}

.btn {
  border: solid 5px black;
  border-radius: 75%;
}
